[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about abstract methods, they aren't run:
    @(abc\.)?abstractmethod

    # Ignore type checking line for cyclic imports
    if TYPE_CHECKING: