[report]
omit = 
    # Omitting ui.py because it is just responsible for printing on the console
    hpcrocket/ui.py

    # Omitting chmodsshfs because it is just a decorator for the fs.sshfs implementation
    hpcrocket/ssh/chmodsshfs.py

exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about abstract methods, they aren't run:
    @(abc\.)?abstractmethod

    # Ignore type checking line for cyclic imports
    if TYPE_CHECKING:

    # Ignore protocols
    class ([\w]+)\(Protocol\):
